#play-area.hidden {
    display: none;
}

.tool-button.clicked {
    background-color: lime; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#play-area.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-area {
    text-align: center;
}

input.tool-button {
    height: 80px;
    font-size: 60px;
    margin: 8px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

div {
    font-size: 1em;
}

#play {
    font-size: 20px;
}

